body {
    background: url("basketBack.jpg");
    background-position: 100%;
    opacity: 1;
    
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: solid 2px #9AABD8;
    background: #1B244A;
    padding: 4vh;
    border-radius: 2vh;
    margin: 4vh;
    min-width: 60vh;
    max-width: 60vh;
}

#num-sco1, #num-sco2 {
    text-align: center;
    background: black;
    padding: 4vh;
    margin: 4vh;
    border: solid darkgray 0.1mm;
    color: red;
    font-family: 'cursed timer ULiL';
    font-size: 6vh;
    border-radius: 1vh;
}

h3 {
    color: white;
    font-family: Impact;
    text-decoration-line: overline;
}

button {
    font-family: 'cursed timer ULil';
    color: #9AABD8;
    background: #1B244A;
    border: solid #9AABD8 1px;
    padding: 3px;
    border-top: dashed;
    border-bottom: dashed;
    border-radius: 3vh
}
#reset-b {
    border-radius: 0vh;
    margin: 2vh;
}
